<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<!-- <div class="background mt-5">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 class="display-4 mb-4">Willkommen auf dem BBB-Server des Fachbereichs MNI</h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 ">
          Bei Fragen können Sie sich gerne an <a style="font-weight: bold;" href="mailto:pilos@thm.de">unseren Support</a> wenden.
        </p>
      </div>
    </div>
  </div>
</div> -->

<div style="height: 5em;"></div>
<div class="alert alert-danger text-center border-0 rounded-0" role="alert">
  <div style="height: 5em;"></div>
  <h2 class="alert-heading">Achtung! Anstehender Umzug nach <a href="https://pilos.thm.de/">pilos.thm.de</a>!</h2>
  <p>
    Das Frontend des Fachbereichs wird am <strong>Montag, den 31. Mai, ab 14:00 Uhr</strong> aufgrund des Umzuges nach <a href="https://pilos.thm.de/">pilos.thm.de</a> nicht erreichbar sein.
  </p>
  <p>
    Bitte weichen Sie in dieser Zeit auf <a href="https://pilos.thm.de/">pilos.thm.de</a> oder Zoom aus.
  </p>
  <div style="height: 5em;"></div>
  <h2 class="alert-heading">Alle Ihre Räume und Links bleiben erhalten!</h2>
  <p>
    Während des Umzuges werden alle Ihre Räume auf <a href="https://pilos.thm.de/">pilos.thm.de</a> übertragen.
    <br>
    Ebenso bleiben vorhandene Links auf Ihre Räume intakt und werden automatisch auf <a href="https://pilos.thm.de/">pilos.thm.de</a> weitergeleitet.
  </p>
  <div style="height: 5em;"></div>
  <p class="mb-0">
    <a href="https://pilos.thm.de"><img src="https://pilos.thm.de/images/logo.svg" style="width:20%"></a>
  </p>
  <div style="height: 5em;"></div>
</div>
