<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 class="display-4 mb-4">Willkommen auf dem BBB-Server des Fachbereichs MNI</h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 ">Auf diesem Server werden verschiedene kleinere Veranstaltungen, Besprechungen und vieles mehr stattfinden.<br>
          Bei Fragen können Sie sich gerne an <a style="font-weight: bold;" href="mailto:pilos@thm.de">unseren Support</a> wenden.
        </p>
        <hr>
      </div>
      <div class="col-md-12 col-sm-12 text-center">
        <h1 class="display-4 mb-4">Wichtig!</h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12">Ab sofort, werden die Berechtigungen automatisch vergeben!<br>
          <b>Lehrbeauftragte</b>, <b>MitarbeiterInnen</b> und <b>ProfessorInnen</b> erhalten standartmäßig die Gruppe <b>Dozent/in</b><br>
          <b>TutorInnen</b> erhalten standartmäßig die Gruppe <b>"Tutor/in"</b><br>
          Sollten Sie feststellen, dass Ihnen Berechtigungen fehlen, können Sie sich gerne an <a style="font-weight: bold;" href="mailto:pilos@thm.de">unseren Support</a> wenden!</p>
        </div>

      </div>
    </div>
  </div>
